//@import url(//fonts.googleapis.com/css?family=Goudy+Bookletter+1911);
//@import url(//fonts.googleapis.com/css?family=Caudex:700,700italic);

@font-face {
  font-family: 'Caudex';
  font-weight: 700;
  src: font-url('font/Caudex-Bold.ttf');
}

@font-face {
  font-family: 'Caudex';
  font-weight: 700;
  font-style: italic;
  src: font-url('font/Caudex-BoldItalic.ttf');
}


$base-width: 1024px;
$base-height: 640px;
$md-mult: 1.2;
$lg-mult: 1.5125;

@mixin mediaquery($point) {
  @if $point == medium {
    @media (min-width: ($base-width * $md-mult)) and (min-height: ($base-height * $md-mult)) { @content; }
  }
  @else if $point == large {
    @media (min-width: ($base-width * $lg-mult)) and (min-height: ($base-height * $lg-mult)) { @content; }
  }
}

.clear {
  clear: both;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.red-border {
  border: 1px solid red;
}

.height.two-thirds {
  height: 66%;
}

.height.one-sixth {
  height: 16%;
}

.height.one-fourth {
  height: 25%;
}

.height.one-half {
  height: 50%;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.inline-block {
  display: inline-block;
}

.display-none {
  display: none;
}

.hidden {
  visibility: hidden;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
