div.cardbox, div.handbox {
  display: inline-block;
  position: relative;
  overflow: hidden;

  background: rgba(0, 0, 0, 0.5);

  border: 1px outset #444;
  border-radius: 7px;
}

div.cardbox {
  width: 74px; //73.5
  height: 142px; //141.75
  margin: 3px;
  z-index: 5;

  @include mediaquery('medium') {
    width: 88px; //88.2
    height: 170px; //170.1
    margin: 4px;
  }

  @include mediaquery('large') {
    width: 118px; //117.6
    height: 227px; //226.8
    margin: 5px;
  }

  @include transform( translate3d(0, 0, 0) );
}

div.handbox {
  min-width: 150px;
  height: 142px; //141.75
  margin: 3px;
  z-index: 10;
  white-space: nowrap;

  @include mediaquery('medium')  {
    min-width: 178px;
    height: 170px; //170.1
    margin: 4px;
  }

  @include mediaquery('large') {
    min-width: 238px;
    height: 227px; //226.8
    margin: 5px;
  }

  > div.cardbox {
    display: inline-block;
    margin: 0;
    border: 0;
    border-left: 1px outset #444;
    border-radius: 7px 0 0 7px;

    margin-left: -37px;

    @include mediaquery('medium') {
      margin-left: -44px;
    }
    @include mediaquery('large') {
      margin-left: -59px;
    }

    &:first-child{
      margin-left: -1px;
    }
  }
}

div.card {
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0; // fill parent

  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;

  &.face-down {
    background-image: url('tarot/back.png') !important;
    background-position: center center;
    background-size: 225%;
  }

  &.null {
    background-image: url('tarot/null.png');
  }

  &.cover {
    background-image: url('tarot/cover.png');
  }

  @for $num from 0 through 21 {
    $padded: $num;
    @if($padded < 10) {
      $padded: '0' + '#{$padded}';
    }

    &#major-#{$num} {
      background-image: url('tarot/major-#{$padded}.png');
    }
  }

  @for $suit from 0 through 3 {
    @for $num from 0 through 13 {
      $padded: $num + 1;
      @if($padded < 10) {
        $padded: '0' + '#{$padded}';
      }

      &#minor-#{$suit}-#{$num} {
        background-image: url('tarot/minor-#{$suit}-#{$padded}.png');
      }
    }
  }
}
